<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | SSP Enterprise</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            scroll-behavior: smooth;
        }
    </style>
    {% block styles %}{% endblock %}
</head>

<body>
    
    {% include 'components/addproductmodal.html' %}
    {% include 'components/changepasswordmodal.html' %}
    {% include 'components/putquerymodal.html' %}
    {% include 'components/querydownloadmodal.html' %}

    {% include 'components/navbar.html' %}
    <main class="bg-gray-50 min-h-screen">
        {% block body %}{% endblock %}
    </main>
    {% include 'components/footer.html' %}
    {% block scripts %}{% endblock %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            {% if message %}
                utils.showToast('{{message}}', '{{level}}');
            {% endif %}
        });
    </script>
</body>

</html>